<div class="name attr"><%= get('name') %></div>
<div class="kind attr">Type: <%= get('kind') %></div>
<div class="rating attr">Rating: <%= get('rating') %></div>
<div class="label attr">Notes:</div>
<div class="comments attr"><%= get('comments') %></div>
<a class="delete">X</a>