<div id="error">
	<div id="info" title="">?
	
		<div id="info_modal">
			Relax, you didn't actually break anything. Nothing like this would ever happen on a reasonable website.
		</div>

	</div>

	<h1>ERROR</h1>
	<h2>Who freakin' told you to click that?!</h2>
	<%= link_to 'Reload', '/snare/snare' %>
	
</div>


<div id="container">
	<%= render 'snare/snare/header' %>

	<div id="target">
		<div class="circle c1">
			<div class='circle c2'>
				<div class='circle c3'></div>
			</div>
		</div>
	</div>
</div>

