<%= render 'drying_paint/wall/header' %>
<div id="cracks"></div>
<div id="paint" class="drying"></div>

<div id="info">
	<p>You're watching paint dry! Paint drying is a slow process. Stick around long enough and the paint will reach its final dryness. Enjoy!</p>
	<div id="info_mark">?</div>
</div>
