<%= render 'assault/page/header' %>

<div id="container">
	<div id="salt_container" class='inline'>
		<img src="/assets/salt_shaker.png" id="salt">
		<div id="grains"></div>
	</div>

	<div id="battery_container" class='inline'>
		<img src="/assets/battery.png" id="battery">
		<img src="/assets/lightning.png" id="lightning">	
	</div>
</div>