<div id="container">
	<div id="screwdriver">
		<img src="/assets/ph_screwdriver.png">
		<div class="tip">
			<p>This is not a screwdriver.</p>
		</div>
	</div>
</div>

<%= render 'screwdriver/page/footer' %>