<%= render 'taste/entries/header' %>
<% unless @entries %>
	<div id="empty_header">
		<h1>Keep track of the things you like</h1>
		<h1>and the things you don't</h1>
	</div>
<% end %>

<% unless user_signed_in? %>
	<div id="not_signed_in">
		<h2>Your tasting notes will not be saved unless you first <%= link_to "sign in", new_user_session_path %>.</h2>
	</div>
<% end %>

<%= tag('div', :id => 'data', :data => { :response => @entries }) %></div>
<div id="<%= controller.controller_name + '_' + controller.action_name + '_' + 'container' %>"></div>