<div id="wrapper">
	<div id="container"></div>
</div>

<form id="controls">
	<label>Lift</label>
	<input type="text" id="lift">

	<label>Damper</label>
	<input type="text" id="damper">

	<label>Friction</label>
	<input type="text" id="friction">

	<input type="submit" id="submit" class="btn">
	<input type="reset" id="reset" class="btn">
</form>

<%= render 'balloon/page/footer' %>