body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
	letter-spacing: 2px;
	text-align: center;
	background: #fcfcfc;
}

#container {
	padding-top: 60px;
	padding-bottom: 36px;
}

.speech {
	font-size: 26px;
	margin-bottom: 50px;
	height: 60px;
}

.head {
	position: relative;
	height: 210px;
	width: 250px;
	margin: 0 auto 30px;
	background-color: #6c7f8a;
	box-shadow: 1px 1px 10px rgba(255,255,255,0.6) inset,
				-1px -1px 10px rgba(0,0,0,0.6) inset,
				0 0 3px rgba(0,0,0,0.6) inset;
	cursor: pointer;
}

.eye_container {
	padding-top: 30px;
}

.eye {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #222;
}
.left {
	left: 40px;
}
.right {
	right: 40px;
}

.pupil {
	position: absolute;
	top: 6px;
	left: 6px;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	background-color: #28e03e;
}

.mouth {
	position: absolute;
	top: 100px;
	left: 50px;
	height: 25px;
	width: 150px;
	margin-top: 30px;
	background-color: #222;
	box-shadow: -1px -1px 1px rgba(255,255,255,0.2) inset,
				1px 1px 2px rgba(0,0,0,0.8) inset;
}

.head_shadow {
	margin: 0 auto 0; 
	border-radius: 50%;
	height: 10px;
	width: 270px;
	background-color: rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

input {
	margin: 80px -10px;
}

.btn {
	border: none;
	font-size: 16px;
	padding: 7px 10px;
	color: white;
	text-shadow: 0 0 1px rgba(0,0,0,0.4);
	background-color: #e00349;
	cursor: pointer;
}

.text {
	font-size: 16px;
	padding: 5px;
	width: 300px;

}

.blink {

	animation:blink 5s infinite;
	-moz-animation:blink 5s infinite; /* Firefox */
	-webkit-animation:blink 5s infinite; /* Safari and Chrome */
	-o-animation:blink 5s infinite; /* Opera */
}

.bounce {
	animation: bounce 0.5s;
	-moz-animation: bounce 0.5s; 
	-webkit-animation: bounce 0.5s; 
	-o-animation: bounce 0.5s; 
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
}

#links_container {
	text-align: right;
	padding: 10px 20px;
}

#links_container a {
	text-decoration: none;
	color: #6b50c7;
	margin-left: 15px;
}

#links_container a:visited {
	color: #6b50c7;
}

#links_container a:hover {
	color: #d92e42;
}

@-webkit-keyframes blink {
	0% {-webkit-transform: scale(1,1);}
	49% {-webkit-transform: scale(1,1);}
	50% {-webkit-transform: scale(1,0);}
	51% {-webkit-transform: scale(1,0);}
	52% {-webkit-transform: scale(1,1);}
	53% {-webkit-transform: scale(1,1);}
	54% {-webkit-transform: scale(1,0);}
	55% {-webkit-transform: scale(1,0);}
	56% {-webkit-transform: scale(1,1);}
	100% {-webkit-transform: scale(1,1);}
}
@-moz-keyframes blink {
	0% {-moz-transform: scale(1,1);}
	49% {-moz-transform: scale(1,1);}
	50% {-moz-transform: scale(1,0);}
	51% {-moz-transform: scale(1,0);}
	52% {-moz-transform: scale(1,1);}
	53% {-moz-transform: scale(1,1);}
	54% {-moz-transform: scale(1,0);}
	55% {-moz-transform: scale(1,0);}
	56% {-moz-transform: scale(1,1);}
	100% {-moz-transform: scale(1,1);}
}
@-ms-keyframes blink {
	0% {-ms-transform: scale(1,1);}
	49% {-ms-transform: scale(1,1);}
	50% {-ms-transform: scale(1,0);}
	51% {-ms-transform: scale(1,0);}
	52% {-ms-transform: scale(1,1);}
	53% {-ms-transform: scale(1,1);}
	54% {-ms-transform: scale(1,0);}
	55% {-ms-transform: scale(1,0);}
	56% {-ms-transform: scale(1,1);}
	100% {-ms-transform: scale(1,1);}
}
@-o-keyframes blink {
	0% {-o-transform: scale(1,1);}
	49% {-o-transform: scale(1,1);}
	50% {-o-transform: scale(1,0);}
	51% {-o-transform: scale(1,0);}
	52% {-o-transform: scale(1,1);}
	53% {-o-transform: scale(1,1);}
	54% {-o-transform: scale(1,0);}
	55% {-o-transform: scale(1,0);}
	56% {-o-transform: scale(1,1);}
	100% {-o-transform: scale(1,1);}
}
@keyframes blink {
	0% {transform: scale(1,1);}
	49% {transform: scale(1,1);}
	50% {transform: scale(1,0);}
	51% {transform: scale(1,0);}
	52% {transform: scale(1,1);}
	53% {transform: scale(1,1);}
	54% {transform: scale(1,0);}
	55% {transform: scale(1,0);}
	56% {transform: scale(1,1);}
	100% {transform: scale(1,1);}
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
    40% {-webkit-transform: translateX(-50px);}
    60% {-webkit-transform: translateX(-30px);}
}
 
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
    40% {-moz-transform: translateX(-50px);}
    60% {-moz-transform: translateX(-30px);}
}
 
@-ms-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-ms-transform: translateX(0);}
    40% {-ms-transform: translateX(-50px);}
    60% {-ms-transform: translateX(-30px);}
}
 
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
    40% {-o-transform: translateX(-50px);}
    60% {-o-transform: translateX(-30px);}
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
    40% {transform: translateX(-50px);}
    60% {transform: translateX(-30px);}
}