body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
}

#container {
	padding-bottom: 36px;
}

.box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	margin-right: -4px; 
	cursor: pointer;
}

.box:hover {
	box-shadow: 0 0 8px #fff;
	z-index: 20; 
}

.first {
	background-color: #FA9D00;
}
.second {
	background-color: #006884;
}
.third {
	background-color: #89dbec;
}
.fourth {
	background-color: #ffd08d;
}
.fifth {
	background-color: #6e006c;
}
.sixth {
	background-color: #f68370;
}
.seventh {
	background-color: #B00051;
}
.eighth {
	background-color: #00909e;
}
.nineth {
	background-color: #ed0026;
}
.tenth {
	background-color: #91278f;
}

.crawl {
	-webkit-animation: crawl 4s;
	-moz-animation: crawl 4s;
	-ms-animation: crawl 4s;
	-o-animation: crawl 4s;
	animation: crawl 4s;
}
.dangle {
	-webkit-animation: dangle 4s;
	-moz-animation: dangle 4s;
	-ms-animation: dangle 4s;
	-o-animation: dangle 4s;
	animation: dangle 4s;
}
.jump {
	-webkit-animation: jump 4s;
	-moz-animation: jump 4s;
	-ms-animation: jump 4s;
	-o-animation: jump 4s;
	animation: jump 4s;
}
.stretch {
	-webkit-animation: stretch 4s;
	-moz-animation: stretch 4s;
	-ms-animation: stretch 4s;
	-o-animation: stretch 4s;
	animation: stretch 4s;
}
.flip {
	-webkit-animation: flip 4s;
	-moz-animation: flip 4s;
	-ms-animation: flip 4s;
	-o-animation: flip 4s;
	animation: flip 4s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    z-index: 0;
}

#links_list {
	padding: 10px 20px;
}

a {
	text-decoration: none;
	margin: 0 10px;
	color: #006884;
}
a:visited {
	color: #006884;
}
a:hover {
	color: #91278f;
}
/* ANIMATIONS */

@-webkit-keyframes crawl {
	12%, 15%, 18%, 20% {-webkit-transform: translateY(400px);}

	0% {-webkit-transform: translateY(0px);}
	10% {-webkit-transform: translateY(410px);}
	14% {-webkit-transform: translateY(370px);}
	16% {-webkit-transform: translateY(410px);}

	25% {height: 100px; -webkit-transform: translateY(400px);}
	30% {height: 50px; -webkit-transform: translateY(400px);}
	35% {height: 100px; -webkit-transform: translateY(350px);}
	40% {height: 50px; -webkit-transform: translateY(350px);}	
	45% {height: 100px; -webkit-transform: translateY(300px);}
	50% {height: 50px; -webkit-transform: translateY(300px);}	
	55% {height: 100px; -webkit-transform: translateY(250px);}
	60% {height: 50px; -webkit-transform: translateY(250px);}
	65% {height: 100px; -webkit-transform: translateY(200px);}
	70% {height: 50px; -webkit-transform: translateY(200px);}
	75% {height: 100px; -webkit-transform: translateY(150px);}
	80% {height: 50px; -webkit-transform: translateY(150px);}
	85% {height: 100px; -webkit-transform: translateY(100px);}
	90% {height: 50px; -webkit-transform: translateY(100px);}
	95% {height: 100px; -webkit-transform: translateY(50px);}
	98% {height: 50px; -webkit-transform: translateY(50px);}
	100% {-webkit-transform: translateY(0px);}
}

@-webkit-keyframes dangle {

	0% { -webkit-transform: rotate(0); 
		 -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; 
		 box-shadow: 1px 1px 4px #333; z-index: 50; }	
	10% { -webkit-transform: rotate(80deg); 
		  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	20% { -webkit-transform: rotate(30deg);
		  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	30% { -webkit-transform: rotate(60deg);
	 	  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	40% { -webkit-transform: rotate(50deg) translateY(0); 
		  -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	50% { -webkit-transform: translateY(2000px); }
	75% { -webkit-transform: translateY(0px); }
	100% { -webkit-transform: translateY(0px); }
}

@-webkit-keyframes jump {
	0% { -webkit-transform: translateY(0); }
	7% { -webkit-transform: translateY(-50px) scale(0.7); }
	50% { -webkit-transform: translateY(2000px) scale(0.7);
		  opacity: 1; }
	51% { opacity: 0; }
	52% { -webkit-transform: translateY(-2000px);
		  opacity: 0; }
	90% { -webkit-transform: translateY(-100px);
		  opacity: 1; }
	100% { -webkit-transform: translateY(0); }
}

@-webkit-keyframes stretch {
	0% { }
	30% { height: 2000px; -webkit-transform: translateY(0); }
	50% { -webkit-transform: translateY(2000px);
		  -webkit-animation-timing-function: ease-out; }
	70% { -webkit-transform: translateY(2000px); }
	80% { height: 100px; -webkit-transform: translateY(-150px); }
	85% { -webkit-transform: translateY(100px); }
	90% { -webkit-transform: translateY(-50px); }
	94% { -webkit-transform: translateY(40px); }
	96% { -webkit-transform: translateY(-10px); }
	98% { -webkit-transform: translateY(5px); }
	100% { -webkit-transform: translateY(0px); }
}

@-webkit-keyframes flip {
	0% { -webkit-transform: rotateY(0) translateY(0px) scale(1.5);
		 box-shadow: 0 1px 2px rgba(0,0,0,0.5);
		 z-index: 100; }
	50% { -webkit-transform: rotateY(2000deg) translateY(2000px); }
}


@-webkit-keyframes crawl {
	12%, 15%, 18%, 20% {-moz-transform: translateY(400px);}

	0% {-moz-transform: translateY(0px);}
	10% {-moz-transform: translateY(410px);}
	14% {-moz-transform: translateY(370px);}
	16% {-moz-transform: translateY(410px);}

	25% {height: 100px; -moz-transform: translateY(400px);}
	30% {height: 50px; -moz-transform: translateY(400px);}
	35% {height: 100px; -moz-transform: translateY(350px);}
	40% {height: 50px; -moz-transform: translateY(350px);}	
	45% {height: 100px; -moz-transform: translateY(300px);}
	50% {height: 50px; -moz-transform: translateY(300px);}	
	55% {height: 100px; -moz-transform: translateY(250px);}
	60% {height: 50px; -moz-transform: translateY(250px);}
	65% {height: 100px; -moz-transform: translateY(200px);}
	70% {height: 50px; -moz-transform: translateY(200px);}
	75% {height: 100px; -moz-transform: translateY(150px);}
	80% {height: 50px; -moz-transform: translateY(150px);}
	85% {height: 100px; -moz-transform: translateY(100px);}
	90% {height: 50px; -moz-transform: translateY(100px);}
	95% {height: 100px; -moz-transform: translateY(50px);}
	98% {height: 50px; -moz-transform: translateY(50px);}
	100% {-moz-transform: translateY(0px);}
}

@-moz-keyframes dangle {

	0% { -moz-transform: rotate(0); 
		 -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; 
		 box-shadow: 1px 1px 4px #333; z-index: 50; }	
	10% { -moz-transform: rotate(80deg); 
		  -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	20% { -moz-transform: rotate(30deg);
		  -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	30% { -moz-transform: rotate(60deg);
	 	  -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
	40% { -moz-transform: rotate(50deg) translateY(0); 
		  -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	50% { -moz-transform: translateY(2000px); }
	75% { -moz-transform: translateY(0px); }
	100% { -moz-transform: translateY(0px); }
}

@-moz-keyframes jump {
	0% { -moz-transform: translateY(0); }
	7% { -moz-transform: translateY(-50px) scale(0.7); }
	50% { -moz-transform: translateY(2000px) scale(0.7);
		  opacity: 1; }
	51% { opacity: 0; }
	52% { -moz-transform: translateY(-2000px);
		  opacity: 0; }
	90% { -moz-transform: translateY(-100px);
		  opacity: 1; }
	100% { -moz-transform: translateY(0); }
}

@-moz-keyframes stretch {
	0% { }
	30% { height: 2000px; -moz-transform: translateY(0); }
	50% { -moz-transform: translateY(2000px);
		  -moz-animation-timing-function: ease-out; }
	70% { -moz-transform: translateY(2000px); }
	80% { height: 100px; -moz-transform: translateY(-150px); }
	85% { -moz-transform: translateY(100px); }
	90% { -moz-transform: translateY(-50px); }
	94% { -moz-transform: translateY(40px); }
	96% { -moz-transform: translateY(-10px); }
	98% { -moz-transform: translateY(5px); }
	100% { -moz-transform: translateY(0px); }
}

@-moz-keyframes flip {
	0% { -moz-transform: rotateY(0) translateY(0px) scale(1.5);
		 box-shadow: 0 1px 2px rgba(0,0,0,0.5);
		 z-index: 100; }
	50% { -moz-transform: rotateY(2000deg) translateY(2000px); }
}


@-ms-keyframes crawl {
	12%, 15%, 18%, 20% {-ms-transform: translateY(400px);}

	0% {-ms-transform: translateY(0px);}
	10% {-ms-transform: translateY(410px);}
	14% {-ms-transform: translateY(370px);}
	16% {-ms-transform: translateY(410px);}

	25% {height: 100px; -ms-transform: translateY(400px);}
	30% {height: 50px; -ms-transform: translateY(400px);}
	35% {height: 100px; -ms-transform: translateY(350px);}
	40% {height: 50px; -ms-transform: translateY(350px);}	
	45% {height: 100px; -ms-transform: translateY(300px);}
	50% {height: 50px; -ms-transform: translateY(300px);}	
	55% {height: 100px; -ms-transform: translateY(250px);}
	60% {height: 50px; -ms-transform: translateY(250px);}
	65% {height: 100px; -ms-transform: translateY(200px);}
	70% {height: 50px; -ms-transform: translateY(200px);}
	75% {height: 100px; -ms-transform: translateY(150px);}
	80% {height: 50px; -ms-transform: translateY(150px);}
	85% {height: 100px; -ms-transform: translateY(100px);}
	90% {height: 50px; -ms-transform: translateY(100px);}
	95% {height: 100px; -ms-transform: translateY(50px);}
	98% {height: 50px; -ms-transform: translateY(50px);}
	100% {-ms-transform: translateY(0px);}
}

@-ms-keyframes dangle {

	0% { -ms-transform: rotate(0); 
		 -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; 
		 box-shadow: 1px 1px 4px #333; z-index: 50; }	
	10% { -ms-transform: rotate(80deg); 
		  -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	20% { -ms-transform: rotate(30deg);
		  -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	30% { -ms-transform: rotate(60deg);
	 	  -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }
	40% { -ms-transform: rotate(50deg) translateY(0); 
		  -ms-transform-origin: top left; -ms-animation-timing-function: ease-in-out; }	
	50% { -ms-transform: translateY(2000px); }
	75% { -ms-transform: translateY(0px); }
	100% { -ms-transform: translateY(0px); }
}

@-ms-keyframes jump {
	0% { -ms-transform: translateY(0); }
	7% { -ms-transform: translateY(-50px) scale(0.7); }
	50% { -ms-transform: translateY(2000px) scale(0.7);
		  opacity: 1; }
	51% { opacity: 0; }
	52% { -ms-transform: translateY(-2000px);
		  opacity: 0; }
	90% { -ms-transform: translateY(-100px);
		  opacity: 1; }
	100% { -ms-transform: translateY(0); }
}

@-ms-keyframes stretch {
	0% { }
	30% { height: 2000px; -ms-transform: translateY(0); }
	50% { -ms-transform: translateY(2000px);
		  -ms-animation-timing-function: ease-out; }
	70% { -ms-transform: translateY(2000px); }
	80% { height: 100px; -ms-transform: translateY(-150px); }
	85% { -ms-transform: translateY(100px); }
	90% { -ms-transform: translateY(-50px); }
	94% { -ms-transform: translateY(40px); }
	96% { -ms-transform: translateY(-10px); }
	98% { -ms-transform: translateY(5px); }
	100% { -ms-transform: translateY(0px); }
}

@-ms-keyframes flip {
	0% { -ms-transform: rotateY(0) translateY(0px) scale(1.5);
		 box-shadow: 0 1px 2px rgba(0,0,0,0.5);
		 z-index: 100; }
	50% { -ms-transform: rotateY(2000deg) translateY(2000px); }
}


@-o-keyframes crawl {
	12%, 15%, 18%, 20% {-o-transform: translateY(400px);}

	0% {-o-transform: translateY(0px);}
	10% {-o-transform: translateY(410px);}
	14% {-o-transform: translateY(370px);}
	16% {-o-transform: translateY(410px);}

	25% {height: 100px; -o-transform: translateY(400px);}
	30% {height: 50px; -o-transform: translateY(400px);}
	35% {height: 100px; -o-transform: translateY(350px);}
	40% {height: 50px; -o-transform: translateY(350px);}	
	45% {height: 100px; -o-transform: translateY(300px);}
	50% {height: 50px; -o-transform: translateY(300px);}	
	55% {height: 100px; -o-transform: translateY(250px);}
	60% {height: 50px; -o-transform: translateY(250px);}
	65% {height: 100px; -o-transform: translateY(200px);}
	70% {height: 50px; -o-transform: translateY(200px);}
	75% {height: 100px; -o-transform: translateY(150px);}
	80% {height: 50px; -o-transform: translateY(150px);}
	85% {height: 100px; -o-transform: translateY(100px);}
	90% {height: 50px; -o-transform: translateY(100px);}
	95% {height: 100px; -o-transform: translateY(50px);}
	98% {height: 50px; -o-transform: translateY(50px);}
	100% {-o-transform: translateY(0px);}
}

@-o-keyframes dangle {

	0% { -o-transform: rotate(0); 
		 -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; 
		 box-shadow: 1px 1px 4px #333; z-index: 50; }	
	10% { -o-transform: rotate(80deg); 
		  -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	20% { -o-transform: rotate(30deg);
		  -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	30% { -o-transform: rotate(60deg);
	 	  -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
	40% { -o-transform: rotate(50deg) translateY(0); 
		  -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	50% { -o-transform: translateY(2000px); }
	75% { -o-transform: translateY(0px); }
	100% { -o-transform: translateY(0px); }
}

@-o-keyframes jump {
	0% { -o-transform: translateY(0); }
	7% { -o-transform: translateY(-50px) scale(0.7); }
	50% { -o-transform: translateY(2000px) scale(0.7);
		  opacity: 1; }
	51% { opacity: 0; }
	52% { -o-transform: translateY(-2000px);
		  opacity: 0; }
	90% { -o-transform: translateY(-100px);
		  opacity: 1; }
	100% { -o-transform: translateY(0); }
}

@-o-keyframes stretch {
	0% { }
	30% { height: 2000px; -o-transform: translateY(0); }
	50% { -o-transform: translateY(2000px);
		  -o-animation-timing-function: ease-out; }
	70% { -o-transform: translateY(2000px); }
	80% { height: 100px; -o-transform: translateY(-150px); }
	85% { -o-transform: translateY(100px); }
	90% { -o-transform: translateY(-50px); }
	94% { -o-transform: translateY(40px); }
	96% { -o-transform: translateY(-10px); }
	98% { -o-transform: translateY(5px); }
	100% { -o-transform: translateY(0px); }
}

@-o-keyframes flip {
	0% { -o-transform: rotateY(0) translateY(0px) scale(1.5);
		 box-shadow: 0 1px 2px rgba(0,0,0,0.5);
		 z-index: 100; }
	50% { -o-transform: rotateY(2000deg) translateY(2000px); }
}


@keyframes crawl {
	12%, 15%, 18%, 20% {transform: translateY(400px);}

	0% {transform: translateY(0px);}
	10% {transform: translateY(410px);}
	14% {transform: translateY(370px);}
	16% {transform: translateY(410px);}

	25% {height: 100px; transform: translateY(400px);}
	30% {height: 50px; transform: translateY(400px);}
	35% {height: 100px; transform: translateY(350px);}
	40% {height: 50px; transform: translateY(350px);}	
	45% {height: 100px; transform: translateY(300px);}
	50% {height: 50px; transform: translateY(300px);}	
	55% {height: 100px; transform: translateY(250px);}
	60% {height: 50px; transform: translateY(250px);}
	65% {height: 100px; transform: translateY(200px);}
	70% {height: 50px; transform: translateY(200px);}
	75% {height: 100px; transform: translateY(150px);}
	80% {height: 50px; transform: translateY(150px);}
	85% {height: 100px; transform: translateY(100px);}
	90% {height: 50px; transform: translateY(100px);}
	95% {height: 100px; transform: translateY(50px);}
	98% {height: 50px; transform: translateY(50px);}
	100% {transform: translateY(0px);}
}

@keyframes dangle {

	0% { transform: rotate(0); 
		 transform-origin: top left; animation-timing-function: ease-in-out; 
		 box-shadow: 1px 1px 4px #333; z-index: 50; }	
	10% { transform: rotate(80deg); 
		  transform-origin: top left; animation-timing-function: ease-in-out; }	
	20% { transform: rotate(30deg);
		  transform-origin: top left; animation-timing-function: ease-in-out; }	
	30% { transform: rotate(60deg);
	 	  transform-origin: top left; animation-timing-function: ease-in-out; }
	40% { transform: rotate(50deg) translateY(0); 
		  transform-origin: top left; animation-timing-function: ease-in-out; }	
	50% { transform: translateY(2000px); }
	75% { transform: translateY(0px); }
	100% { transform: translateY(0px); }
}

@keyframes jump {
	0% { transform: translateY(0); }
	7% { transform: translateY(-50px) scale(0.7); }
	50% { transform: translateY(2000px) scale(0.7);
		  opacity: 1; }
	51% { opacity: 0; }
	52% { transform: translateY(-2000px);
		  opacity: 0; }
	90% { transform: translateY(-100px);
		  opacity: 1; }
	100% { transform: translateY(0); }
}

@keyframes stretch {
	0% { }
	30% { height: 2000px; transform: translateY(0); }
	50% { transform: translateY(2000px);
		  animation-timing-function: ease-out; }
	70% { transform: translateY(2000px); }
	80% { height: 100px; transform: translateY(-150px); }
	85% { transform: translateY(100px); }
	90% { transform: translateY(-50px); }
	94% { transform: translateY(40px); }
	96% { transform: translateY(-10px); }
	98% { transform: translateY(5px); }
	100% { transform: translateY(0px); }
}

@keyframes flip {
	0% { transform: rotateY(0) translateY(0px) scale(1.5);
		 box-shadow: 0 1px 2px rgba(0,0,0,0.5);
		 z-index: 100; }
	50% { transform: rotateY(2000deg) translateY(2000px); }
}















