html,
body {
  height: 100%;
  background-color: #101010;
}

#main {
  width: 918px;
  margin: 0 auto;
}

.box {
  position: relative;
  z-index: 1;
  float: left;
  height: 100px;
  width: 100px;
  background-color: #444;
}

.clear {
  clear: both;
}

footer {
  padding: 20px;
  text-align: center;
}

footer a:link {
  font-family: Arial, sans-serif;
  color: #5f5f5f;
  letter-spacing: 2px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px 10px;
}

footer a:hover {
  color: green; 
}
