body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	letter-spacing: 2px;
    text-align: left;
}

#message {
	position: absolute;
	right: -130px;
	top:  400px;
	color: #87fff1;	
}

p {
  display: inline-block;	
  margin-left: 10px;
}

#arrow{
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid #87fff1;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid #87fff1;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#container {
	position: relative;
    padding-bottom: 36px;
    width: 500px;
    margin: auto;
}

.bulb {
	position: absolute;
	top: 0;
	left: 0;
}
#chain_wrap {
	position: absolute;
	top: -200px;
	right: 0;
	width: 20px;
	height: 800px

}

.chain {
	cursor: pointer;
}

#screen {
	position: absolute;
	top: 0;
	bottom: 0;
    left: 0;
    right: 0;;
}

.on{
	background-color: #fffad3
}

.off {
	background-color: black;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
}

#links_container {
	padding: 10px 20px;
	background-color: rgba(0,0,0,0.3);
}

#links_container a {
	text-decoration: none;
	margin: 0 5px;
	color: #87fff1;
}

#links_container a:visited {
	color: #87fff1;
}

#links_container a:hover {
	color: #00c2ab;
}











