body {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    text-align: center;
}

header{
    padding: 20px;
    font-size: 22px;
	letter-spacing: 2px;
}

#links_container a {
	text-decoration: none;
	color: #c20b2a;
	font-size: 20px;
	margin-left: 10px;
}

#title {
	font-size: 30px;
	color: #c20b2a;
	float: left;
}

#links_container {
	float: right;
}

#container {
	position: relative;
	width: 750px;
	margin: auto;
}

.coin {
	position: absolute;
	bottom: 10px;
	z-index: 20;
	cursor: pointer;
}

#cat_container {
	position: relative;
    width: 245px;
    height: 417px;
    margin: 80px auto;

  	-webkit-perspective: 1000px;
  	-moz-perspective: 1000px;
  	-ms-perspective: 1000px;
  	-o-perspective: 1000px;
  	perspective: 1000px;
}

#body {
	position: absolute;
	left: 0;
	top: 0;
}

#arm {
	position: absolute;
	left: 206px;
	top: 70px;
	z-index: -1;

  	-webkit-transform-origin-y: 100%;
  	-moz-transform-origin: bottom;
  	-ms-transform-origin-y: 100%;
  	-o-transform-origin-y: 100%;
  	transform-origin-y: 100%;

	-webkit-animation: wave 3s infinite linear;
	-moz-animation: wave 3s infinite linear;
	-ms-animation: wave 3s infinite linear;
	-o-animation: wave 3s infinite linear;
	animation: wave 3s infinite linear;
}

.clear {
	clear: both;
}



@-webkit-keyframes wave {
	0% {-webkit-transform: rotateX(0deg) ;}
	25% {-webkit-transform: rotateX(-30deg) ;}
	50% {-webkit-transform: rotateX(0deg) ;}
	75% {-webkit-transform: rotateX(20deg) ;}
	100% {-webkit-transform: rotateX(0deg) ;}
}
@-moz-keyframes wave {
	0% {-moz-transform: rotateX(0deg) ;}
	25% {-moz-transform: rotateX(-30deg) ;}
	50% {-moz-transform: rotateX(0deg) ;}
	75% {-moz-transform: rotateX(20deg) ;}
	100% {-moz-transform: rotateX(0deg) ;}
}
@-ms-keyframes wave {
	0% {-ms-transform: rotateX(0deg) ;}
	25% {-ms-transform: rotateX(-30deg) ;}
	50% {-ms-transform: rotateX(0deg) ;}
	75% {-ms-transform: rotateX(20deg) ;}
	100% {-ms-transform: rotateX(0deg) ;}
}
@-o-keyframes wave {
	0% {-o-transform: rotateX(0deg) ;}
	25% {-o-transform: rotateX(-30deg) ;}
	50% {-o-transform: rotateX(0deg) ;}
	75% {-o-transform: rotateX(20deg) ;}
	100% {-o-transform: rotateX(0deg) ;}
}
@keyframes wave {
	0% {transform: rotateX(0deg) ;}
	25% {transform: rotateX(-30deg) ;}
	50% {transform: rotateX(0deg) ;}
	75% {transform: rotateX(20deg) ;}
	100% {transform: rotateX(0deg) ;}
}




/*style="-webkit-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(31deg) rotateY(0deg) rotateZ(0deg); -webkit-transform-origin-x: 50%; -webkit-transform-origin-y: 100%;"*/





















