html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Courier New", Courier, monospace;
}

a {
	color: #000;
}

.page_container {
	position: relative;
	margin: 0 auto;
	height: 100%;
	max-height: 100%;
	min-height: 300px;
	width: 1000px;
	background-color: #fff;
}

.cartoon {
	padding-left: 50px;
}

#cartoon_text {
	position: absolute; bottom: 300px;
	font-size: 38pt;
	padding-left: 100px;
}

#cartoon_img {
	position: absolute; bottom: 100px;
}