body {
	background-color: #fcf7f2;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#header {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 100%;
	text-align: right;
}

#home{
	margin-right: 10px;
}

#footer {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 100%;
	text-align: right;
}

#home{
	margin-right: 10px;
}

#info {
	letter-spacing: 2px;
	color: #ccc;
	margin: 180px 0 0 50px;
}

#top_container {
	position: fixed;
	top: 200px;
}

.message {
	padding: 30px 30px 30px 50px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 28px;
	color: #333;
	width: 680px;
}

#top {
	;
}

#bottom_container {
	position: absolute;
	top: 2500px;
	height: 2000px;
	width: 100%
}

#bottom {
	;
}

#attribute {
	text-align: right;
	width: 680px;
	padding: 0 30px;
}

a {
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2px;
	color: #605f83;
}

a:hover {
	color: #5f8360;
}




