body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    text-align: center;
	background-color: #141414;
}

#modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0.92);
    color: #fff;
	z-index: 100;
}

#fail {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: #BD000C;
    z-index: 0;
}

h1 {
	font-size: 60px;
	margin: 100px 0 50px; 
}

h2 {
	font-size: 22px;
	line-height: 1.5;
}

button {
	border: none;
	height: 60px;
	width: 200px;
	margin-top: 50px; 
	font-size: 30px;
	color: white;
	background-color: #0F3FE8;
}

#container {
    padding-bottom: 38px;
}

#level {
	font-size: 24px;
	padding: 20px 0 40px;
	color: #fff
}

#game_wrap {
	position: relative;
	height: 500px;
	width: 500px;
	margin: auto;
}

#game_container {
	position: absolute;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background-color: black;
}

#pad_container {
	position: relative;
	height: 450px;
	width: 450px;
	top: 25px;
	left: 25px;
}

.pad {
	position: absolute;
	height: 210px;
	width: 210px;
}

.red_pad {
	background-color: #BD000C;	
}

.green_pad {
	background-color: #078C03;	
}

.yellow_pad {	
	background-color: #FFC300;
}

.blue_pad {	
	background-color: #0F3FE8;
}

#red {
	top: 0;
	right: 0;
	border-radius: 0 100% 0 0;
}

#green {
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
}

#yellow {
	bottom: 0;
	left: 0;
	border-radius: 0 0 0 100%;
}

#blue {
	bottom: 0;
	right: 0;
	border-radius: 0 0 100% 0;
}

#center_disk {
	position: absolute;
	top: 140px;
	left: 140px;
	height: 170px;
	width: 170px;
	border-radius: 50%;
	background-color: black;
	z-index: 10;
}

.glow_red {
	box-shadow: 0 0 20px rgba(245,102,114,0.7);
	background-color: #FFC2A6;
}

.glow_green {
	box-shadow: 0 0 20px rgba(89,207,81,0.7);
	background-color: #59CF51;
}

.glow_yellow {
	box-shadow: 0 0 20px rgba(255,223,113,0.7);
	background-color: #FFE8A6;
}

.glow_blue {
	box-shadow: 0 0 20px rgba(106,143,232,0.7);
	background-color: #A9CBFF;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 38px;
}

#links_container {
	text-align: left;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}

#links_container a:link {
	margin-right: 10px;
	text-decoration: none;
	color: #757474;
}
#links_container a:visited {
	text-decoration: none;
	color: #757474;
}
#links_container a:hover {
	text-decoration: none;
	color: #0F3FE8;
}