<header>
	<div id="logo"><%= link_to "Color Walk", color_walk_game_index_path %></div>

	<div id="links_container">
	  	<a href="/index.html" id="home">Home</a>
	  	<a href="http://blog.jenniferdewalt.com" id="blog">Blog</a>
		
		<% if user_signed_in? %>
		 	<%= link_to "Profile", your_space_user_path(current_user.id) %>
		 	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		<% else %>
		 	<%= link_to "Sign in", new_user_session_path %>
		<% end %>
	</div>
	<br class="clear">
</header>
