<header>
	<div id="logo">
		<p>King of the</p>
		<p>Comments!</p>
	</div>
	
	<div id="links_container">
	  	<a href="/index.html" id="home">Home</a>
	 	<a href="http://blog.jenniferdewalt.com" id="blog">Blog</a>
	</div>
	<br class="clear">
</header>
