<div>
	<h1>Your To Do List</h1>
	<ul id="todos_list"></ul>
</div>


<form id="todo_form">
	<h2>Add a new To Do</h2>
	<div class="form_field" id="title_wrapper"><label>Title:</label><input maxlength="200" type="text" id="title_input"></div>
	<div class="form_field" id="description_wrapper"><label>Description:</label><input maxlength="200" type="text" id="description_input"></div>
	<div class="form_field" id="submit_wrapper"><input class="btn" type="submit" val="Submit"></div>
</form>