<%= render 'moment_of_peace/page/header' %>

<div class="backdrop b1"></div>
<div class="backdrop b2"></div>

<canvas></canvas>

<div class="start">
	<div class="headline_container">
		<h1>A Moment of Peace</h1>
		<p>Turn off your phone, put on your headphones and take a moment for yourself.</p>
	</div>

	<div class="options_container">
		<p>How long would you like your moment to be?</p>

		<div class="time_container" id="2">
			<p>2 min</p>
		</div>
		
		<div class="time_container" id="5">
			<p>5 min</p>
		</div>

		<div class="time_container" id="10">
			<p>10 min</p>
		</div>

		<div class="time_container" id="20">
			<p>20 min</p>
		</div>
	</div>
</div>
