<%= render 'need_drink/options/header' %>

<div class="modal loading">
	<div class="inner_modal">
		<h1>Looking for nearby bars.</h1>
		<img src="/assets/here_throbber.gif">
	</div>
</div>

<div id="result_container">
	<h1 id="bar_result"></h1>
	
	<div id="map"></div>

	<div>
		<h2>Nope... what else ya' got?</h2>
		<button class="btn">Next!</button>
	</div>
</div>
