<%= render 'mishmosh/page/header' %>

<div class="modal">
	<ul>
		<li>Drag collage images onto the white area from your computer.</li>
		<li>Click and drag to MOVE an image.</li>
		<li>Click and drag while holding shift to SCALE.</li>
		<li>Click and drag while holding Alt to ROTATE.</li>
		<li>Double click an image to DELETE it.</li>
		<li>Click the Save button to download your collage to your computer.</li>
	</ul>
</div>

<div id="container"></div>
