<div id="container">
	<h1 class="text" >This Button Has</h1>
	<h1 class="text" >Been Clicked</h1>
	<div class="text"  id="click_num"><%= @button.clicks %></div>
	<h1 class="text" >Times</h1>

	<h2>Maybe you should give it a click!</h2>

	<button class="btn">Click Me!</button>
</div>

<footer>
	<div id="links_container">
	  <a href="index.html" class="head" id="home">Home</a>
	  <a href="http://blog.jenniferdewalt.com" class="head" id="blog">Blog</a>
	</div>
</footer>