<h1>Blockchain Chart</h1>

<canvas id='chart' data-blocks='<%= @blocks %>'></canvas>

<div class='info_container'>
    <p>Click a node for block information</p>

    <div class='hash pad-top'></div>
    <div class='height'></div>
    <div class='time'></div>
    <div class='main_chain'></div>
</div>