<%= render 'one_page_pages/header' %>

<div id="container">
	<div class="edit" id="page_container">
		<%= form_tag("/one_page_pages/1", :method => "put") do %>
			<%= text_area_tag(:content, @page.content) %>
	  		<%= submit_tag("Update", :class => "btn") %>
		<% end %> 
	</div>
</div>

