<%= render 'one_page_pages/header' %>

<div id="container">
	<button class="btn">
		<a href="/one_page_pages/1/edit">Edit</a>
	</button>

	<div class="show" id="page_container">
		<div id="page">
			<%= simple_format(@page.content) %>
		</div>
	</div>
</div>

