<%= render 'other_side/maps/header' %>

<div id="headlines">
	<h1>Other Side</h1>
	<p>Enter a place to see what's on the other side of the world.</p>
</div>

<form>
	<input id="address_input" type='text' placeholder="Buenos Aires">
	<input class="btn" type="submit" value="Search">
</form>


<div id="map_container">
	<div class="map" id="input_map"></div>
	<div class="map" id="other_map"></div>
</div>
