  <div id="main">
    <div id="time_container">

      <div id="hour_container">
        <ul class="hour_list">
          <li class="time 1">one</li>
          <li class="time 2">two</li>
          <li class="time 3">three</li>
          <li class="time 4">four</li>
        </ul>
        <ul class="hour_list">
          <li class="time 5">five</li>
          <li class="time 6">six</li>
          <li class="time 7">seven</li>
          <li class="time 8">eight</li> 
        </ul>
        <ul class="hour_list">
          <li class="time 9">nine</li>
          <li class="time 10">ten</li>
          <li class="time 11">eleven</li>
          <li class="time 10">twelve</li>
        </ul>
      </div>

      <div id="min_container">
        <ul class="min_list">
          <li class="time 20">twenty</li>
          <li class="time 30">thirty</li>
          <li class="time 40">fourty</li>
        </ul>
        <ul class="min_list">
          <li class="time 50">fifty</li>
          <li class="time zero">zero</li>
          <li class="time 1">one</li>
          <li class="time 2">two</li>
          <li class="time 3">three</li>
          <li class="time 4">four</li>
        </ul>
        <ul class="min_list">
          <li class="time 5">five</li>
          <li class="time 6">six</li>
          <li class="time 7">seven</li>
          <li class="time 8">eight</li>
          <li class="time 9">nine</li>
        </ul>
        <ul class="min_list">
          <li class="time 10">ten</li>
          <li class="time 11">eleven</li>
          <li class="time 12">twelve</li>
        </ul>
        <ul class="min_list">
          <li class="time 13">thirteen</li>
          <li class="time 14">fourteen</li>
          <li class="time 15">fifteen</li>
        </ul>
        <ul class="min_list">
          <li class="time 16">sixteen</li>
          <li class="time 17">seventeen</li>
        </ul>
        <ul class="min_list">
          <li class="time 18">eighteen</li>
          <li class="time 19">nineteen</li>
        </ul>
      </div>
      
    </div>

    <div id="abbrev_container">
      <div class="abbrev" id="am">am</div>
      <div class="abbrev" id="pm">pm</div>
    </div>
  </div>

<%= render 'word_clock/page/footer' %>
