<%= render 'brick_smasher/players/header' %>

<div id="game"></div>

<div class='modal end'>
	<div class="inner_modal">
		<h1>Game Over</h1>
		<h2></h2>
		<%= link_to "Play Again", brick_smasher_players_path %>
	</div>
</div>