<%= render 'morse_coder/page/header' %>

<h1>Get Your Morse Code On!</h1>

<textarea id="input" placeholder="Enter your text here to get some awesome beep action!"></textarea>
<button class="btn">Submit</button>