<%= render 'portrait/photos/header' %>

<div id="video_canvas_container" class="container">
	<button class="btn" id="shoot_btn" disabled>Shoot</button>
	<canvas id="video_canvas"></canvas>
</div>

<div id="image_canvas_container" class="container">
	<button class="btn" id="save_btn" disabled>Save</button>
	<canvas id="image_canvas"></canvas>
</div>

