<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta property="og:image" content="https://jenniferdewalt.com/images/fb_icon.png"/>
  <title>Color Jam | Jennifer Dewalt</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/color_jam.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/socket.io.min.js" type="text/javascript"></script>
  <script src="/js/underscore.js" type="text/javascript"></script>
  <script src="/js/howler.js" type="text/javascript"></script>
  <script src="/js/color_jam_index.js" type="text/javascript"></script>
  <script src="/js/analytics.js" type="text/javascript"></script>
  <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="color_jam">
  <header>
    <div id="logo"><a href="/node/color_jam">COLOR JAM</a></div>
    <div id="links_container">
        <a href="/index.html" id="home">Home</a>
        <a href="http://blog.jenniferdewalt.com" id="blog">Blog</a>
    </div>
    <br class="clear">
  </header>

  <canvas></canvas>

  <div id="info_container">
    <div id="info">
      <p>Color Jam is an interactive music space.</p>
      <p>Click on the colored disks to play tones.</p>
      <p>Collaborate with others to create beautiful music.</p>
    </div>
    <p id="tab" class="show">?</p>
  </div>

</body>
</html>
