<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta property="og:image" content="https://jenniferdewalt.com/images/fb_icon.png"/>
  <title>Hello World! | Jennifer Dewalt</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/hello_world.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/socket.io.min.js" type="text/javascript"></script>
  <script src="/js/underscore.js" type="text/javascript"></script>
  <script src="/js/howler.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="/js/touch_punch.js" type="text/javascript"></script>
  <script src="/js/hello_world_index.js" type="text/javascript"></script>
  <script src="/js/analytics.js" type="text/javascript"></script>
  <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="hello_world">
  <header>
    <div id="links_container">
        <a href="/index.html" id="home">Home</a>
        <a href="http://blog.jenniferdewalt.com" id="blog">Blog</a>
    </div>
    <br class="clear">
  </header>

  <div id="hooray_container">
    <div id="rope_wrap">
      <div id="rope_container">
        <img src="/images/rope.png" id="rope">
      </div>
    </div>

    <div id="pull_me">
      <div id="arrow"></div>
      <p>Pull Me!</p>
    </div>

  </div>

  <div id='dark'>
    <p>Hello World!</p>
  </div>

  <div id="party">
    <canvas></canvas>

     <div id="message_form_container">
      <form id="message_form">
        <input id="outgoing_message" type="text" maxlength=255 placeholder="Say something!" autocomplete="off">
        <button id="send" class="btn" type="submit">Send</button>
      </form>
    </div>

    <div id="talking_dude_container">
      <div id="dude_container">
        <div id="face">
          <div id="eyes_container">
            <div class="eyeball" id="eye_left"></div>
            <div class="eyeball" id="eye_right"></div>
          </div>

          <div class="mouth smile"></div>
        </div>

        <div class="head">
          <div class="arm" id="arm_left">
            <div class="hand" id="hand_left">
              <div class="finger" id="f1"></div>
              <div class="finger" id="f2"></div>
              <div class="finger" id="f3"></div>
            </div>
          </div>
          <div class="arm" id="arm_right">
            <div class="hand" id="hand_right">
              <div class="finger" id="f1"></div>
              <div class="finger" id="f2"></div>
              <div class="finger" id="f3"></div>
            </div>
          </div>

          <div class="leg" id="leg_left">
            <div class="foot" id="foot_left"></div>
          </div>
          <div class="leg" id="leg_right">
            <div class="foot" id="foot_right"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="jen_container">
      <h1 class="blink">HELLO WORLD!</h1>
      <img id="jen" src="/images/hello_world_jen.png" >
    </div>

    <div id="shark_container">
      <img id="shark" src="/images/shark_1.png" >
    </div>

    <div id="sushi_container">
      <div class="sushi_box" id="sake"><img src="/images/sake.png"></div>
    </div>

    <div id="ducky_container">
       <img id="ducky" src="/images/ducky.png">
    </div>

  </div>
</body>
</html>
