body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    color: #8f8f8f;
    overflow: none;
    background-color: #0f0f0f;
}
    
header {
	position: relative;
    padding: 10px 20px;
    background-color: white;
    z-index: 10;
}

#logo a {
    float: left;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #008aff;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

#links_container {
    float: right;
}

#links_container a {
    font-size: 11px;
    line-height: 20px;
    margin-left: 15px;
    text-decoration: none;
    color: #8f8f8f;
}

#links_container a:visited {
    color: #8f8f8f;
}

#links_container a:hover {
    color: #008aff;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -275px;
	margin-left: -400px;
    cursor: none;
	border-radius: 50px;
	background-color: #2C2C30;
}

#info_container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: left;
	padding: 10px 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	z-index: 50;
}

#info {
	display: none;
	font-size: 13px;
	color: #555;
	line-height: 26px;
	margin-bottom: 10px;
}

#tab {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #008aff;
	cursor: pointer;
}

#info_container:hover {
	color: #555;
	border-radius: 0 5px 0 0;
	background-color: rgba(255,255,255,0.8);

}

#info_container:hover > #info {
	display: block;
}

.clear {
    clear: both;
}