<%= render 'more_drop_shadow/page/header' %>

<h1>More Drop <br>
	Shadow, Please!</h1>

<h2>Never flat. Never Boring.</h2>

<div id="main_container">
	<div id="btn_container">
		<p>Click me! →</p> <a class="btn" title="Bookmark me!" href="javascript:(function() { var elem=document.createElement('script'); elem.setAttribute('src', 'http://jenniferdewalt.com/js/more_shadow_bookmarklet.js?t='+(new Date().getTime())); document.body.appendChild(elem); }())">More Drop Shadow!</a> 
	</div>

	<p class="main_text">Add this button to your bookmarks bar and whenever you see a boring, flat webpage, click it to enable drop shadow awesomeness! After More Drop Shadow, Please! is enabled, just click any element on the page to increase it's drop shadow.</p>
</div>

<p class="sub_text">Want to try it out? Click the More Drop Shadow, Please! button to enable it on this page.</p>