<div id="container">
	<div id="form_wrap">
		<div class='close'>&#9650</div>
		<form>
			<input type="text" id="phrase_text">
			<input type="submit" value="submit" class="btn">
		</form>
	</div>

	<canvas></canvas>
</div>

<%= render 'text_scroller/streams/header' %>
