<%= render 'hollywood/sign/header' %>

<div id="index_page">
	<%= image_tag('hollywood_sign.jpg') %>
	<div id="sign">
		<p class="letter pointer" id="l0">H</p>
		<p class="letter" id="l1">O</p>
		<p class="letter" id="l2">L</p>
		<p class="letter" id="l3">L</p>
		<p class="letter pointer" id="l4">Y</p>
		<p class="letter pointer" id="l5">W</p>
		<p class="letter" id="l6">O</p>
		<p class="letter" id="l7">O</p>
		<p class="letter pointer" id="l8">D</p>
	</div>
</div>