<%= render 'button_maker/page/header' %>

<div class="container" id="controls_container">
	<div class="control"><label>Background Color </label><input type="text" id="background-color" class="color control_input" value="3679D1"></div>
	<div class="control"><label>Font Color </label><input type="text" id="font-color" class="color control_input" value="FFFFFF"></div>
	<div class="control"><label>Font Size </label><input type="text" id="font-size" class="control_input" value="13px"></div>
	<div class="control"><label>Padding </label><input type="text" id="padding" class="control_input" value="0 15px"></div>
	<div class="control"><label>Line Height </label><input type="text" id="line-height" class="control_input" value="29px"></div>
	<div class="control"><label>Text Shadow </label><input type="text" id="text-shadow" class="control_input" value="0 -1px 1px rgba(0,0,0,0.2)"></div>
	<div class="control"><label>Box Shadow </label><input type="text" id="box-shadow" class="control_input" value="0 0 0 rgba(0,0,0,0)"></div>
	<div class="control"><label>Border Top</label><input type="text" id="border-top" class="control_input" value="none"></div>
	<div class="control"><label>Border Bottom</label><input type="text" id="border-bottom" class="control_input" value="1px solid #235598"></div>
	<div class="control"><label>Border Left</label><input type="text" id="border-left" class="control_input" value="none"></div>
	<div class="control"><label>Border Right</label><input type="text" id="border-right" class="control_input" value="none"></div>
	<div class="control"><label>Border Radius</label><input type="text" id="border-radius" class="control_input" value="5px"></div>
	<div class="control"><input id="btn" type='submit' value="Submit"></div>
</div>

<div class="container" id="right_container">
	<div id="button_container">
		<a class="button" href="#">Link Button</a>
	</div>

	<div id="css_container">
		<h1>Other CSS Properties <span id="arrow">&#x25B2</span></h1>

		<div id="css_properties">
			<div class="css_code">border: none;</div>
			<div class="css_code">display: inline-block;</div>
			<div class="css_code">vertical-align: top;</div>
			<div class="css_code">font-family: Arial, sans-serif;</div>
			<div class="css_code">text-decoration: none;</div>
			<div class="css_code">letter-spacing: 1px;</div>
			<div class="css_code">cursor: pointer;</div>
		</div>
	</div>
</div>