<%= render 'audio_garden/gardens/header' %>

<div id="btn_container">
	<button class="btn reset">Clear</button>
	<button class="btn save">Save</button>
</div>

<div id="info_container">
	<div id="info">
		<p>Left Click: Add note.</p>
		<p>Right Click: Add pulse.</p>
		<p>Shift + Left Click: Delete note.</p>
		<p>Drag: Move note.</p>
	</div>
	<p id="tab">What's This?</p>
</div>

<canvas></canvas>
