<%= render 'hourglass/timer/header' %>


<div class="modal">
	<h1>Enter your time limit in minutes.</h1>
	<form>
		<input type='text' class="time">
		<input type='submit' class="btn" value="submit">
	</form>
</div>

<div class="modal times_up">
	<h1>Time's Up</h1>
</div>

<canvas></canvas>