<%= render 'commerce/items/header' %>

<div id='keyword_form_container'>
	<form>
		<input id="keyword" type="text" maxlength='255'>
		<button id="keyword_btn" class='btn'>Go</button>
		<div id="loading">
			<img src="/images/throbber_11.gif">
		</div>
		<p>Enter a keyword to search for products.</p>
	</form>
</div>

<div id="item_container"></div>

