body.assault_page_index {
    $text_color: #282d33;
    $main_font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    $header_links_color: #ccc;

    font-family: $main_font;
    text-align: center;
    overflow-y: scroll;
    color: $text_color;
    letter-spacing: 1px;
    background-color: #cc0000;
    
    header {
        padding: 10px 20px;
        margin-bottom: 30px;

        a {
            text-decoration: none;
            color: $header_links_color;         
        }
        
        #logo a {
            float: left;
            line-height: 20px;
            font-size: 14px;
        }

        #links_container {
            float: right;
        }

        #links_container a {
            font-size: 11px;
            line-height: 20px;
            margin-left: 15px;
        }

        #links_container a:visited {
            color: $header_links_color;
        }

        #links_container a:hover {
            color: $text_color;
        }
    }

    #container {
    	position: absolute;
    	left: 0;
    	right: 0;
    	top: 50%;
    	margin-top: -150px;
    	height: 300px;

    	.inline {
    		display: inline-block;
	        position: relative;
	        text-align: center;
	        height: 300px;
	        width: 300px;

    		img {
    			position: absolute;
		        margin: auto;
		        top: 0;
		        left: 0;
		        right: 0;
		        bottom: 0;
    		}

    		#salt {
    			z-index: 10;
    		}

    		#lightning {
    			display: none;
    		}
		
		    .grain {
		    	position: absolute;
		    	bottom: 0px;
		    	z-index: 1;
		    	height: 3px;
		    	width: 3px;
		    	border-radius: 1px;
		    	background-color: #fcfcfc;
		    	opacity: 1;
		    }
    	}
    }

    .salt_shake {
    	-webkit-animation: salt_shake 0.3s infinite;
    	animation: salt_shake 0.3s infinite;
    }

    .battery_shake {
    	-webkit-animation: battery_shake 0.17s infinite;
    	animation: battery_shake 0.17s infinite;
    }

    .btn {
        border: none;
        display: inline-block;
        vertical-align: top;
        font-family: Arial, sans-serif;
        text-decoration: none;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: #565B6E;
        color: #FFF;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgba(0,0,0,0.5);
        border-bottom: 1px solid #292c35;
        border-radius: 3px;

        &:active {
            background-color: #292c35;
            border-top: 1px solid #565B6E;
            border-bottom: none;
            box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;              
        }
    }

    .clear {
        clear: both;
    }
}

@-webkit-keyframes salt_shake {
	0% { top: 0px; }
	16% { top: 20px; }
	33% { top: -20px; }
	66% { top: 20px; }
	82% { top: -20px; }
	100% { top: 0px; }
}

@keyframes salt_shake {
	0% { top: 0px; }
	16% { top: 20px; }
	33% { top: -20px; }
	66% { top: 20px; }
	82% { top: -20px; }
	100% { top: 0px; }
}

@-webkit-keyframes battery_shake {
	0% { top: 10px; left: 30px }
	16% { left: -30px }
	33% { top: -10px; left: 30px }
	66% { left: -30px }
	82% { top: 10px; left: 30px }
	100% { left: -30px }
}
@keyframes battery_shake {
	0% { top: 10px; left: 30px }
	16% { left: -30px }
	33% { top: -10px; left: 30px }
	66% { left: -30px }
	82% { top: 10px; left: 30px }
	100% { left: -30px }
}

