body.audio_garden_gardens_index, body.audio_garden_gardens_show {
    $text_color: #282d33;
    $main_font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    $header_links_color: #ccc;

    font-family: $main_font;
    text-align: center;
    overflow-y: scroll;
    color: $text_color;
    letter-spacing: 1px;
    background-color: #222;
    
    header {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
        padding: 10px 20px;

        a {
            text-decoration: none;
            color: $header_links_color;         
        }
        
        #logo a {
            float: left;
            line-height: 20px;
            font-size: 14px;
        }

        #links_container {
            float: right;
        }

        #links_container a {
            font-size: 11px;
            line-height: 20px;
            margin-left: 15px;
        }

        #links_container a:visited {
            color: $header_links_color;
        }

        #links_container a:hover {
            color: $text_color;
        }
    }

    canvas {
    	display: block;
    	cursor: pointer;
    	margin: auto;
    }

    #show {
    	cursor: default;
    }

    #btn_container {
    	position: absolute;
    	top: 50px;
    	right: 20px;
    }

    #info_container {
    	position: absolute;
    	bottom: 5px;
    	left: 5px;
    	text-align: left;
		padding: 10px;
		letter-spacing: 2px;
		text-transform: uppercase;

    	#info {
    		display: none;
    		font-size: 13px;
    		color: rgba(255,255,255,0.7);
    		line-height: 26px;
    		margin-bottom: 10px;
    	}

    	#tab {
    		font-family: Arial, sans-serif;
    		font-weight: bold;
    		font-size: 13px;
    		line-height: 20px;
    		color: rgba(255,255,255,0.4);

    		&:hover {
    			color: rgba(255,255,255,0.7);
    			cursor: pointer;
    		}
    	}

    	&:hover {
	    	background-color: rgba(0,0,0,0.5);
    		
	    	& #info {
	    		display: block;
	    	}
    	}
    }

    .btn {
        border: none;
        display: inline-block;
        vertical-align: top;
        font-family: Arial, sans-serif;
        text-decoration: none;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: #565B6E;
        color: #FFF;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgba(0,0,0,0.5);
        border-bottom: 1px solid #292c35;
        border-radius: 3px;

        &:active {
            background-color: #292c35;
            border-top: 1px solid #565B6E;
            border-bottom: none;
            box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;              
        }
    }

    .clear {
        clear: both;
    }
}