body.balloon_page_index {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
   	overflow: hidden;

    #container {
    	position: relative;
    }

    .kineticjs-content {
    	vertical-align: top;
    }

    canvas {
    	top: 0;
    	left: 0;
    }

    footer {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    height: 36px;

		#links_container {
			text-align: right;
			padding: 10px 20px;
			font-size: 13px;
		}

		#links_container a {
			text-decoration: none;
			color: #aaa;
			margin-left: 15px;
		}

		#links_container a:visited {
			color: #aaa;
		}

		#links_container a:hover {
			color: #c00;
		}
	}
}