body.boom_page_index {
    $text_color: #aaa;
    $main_font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    $header_links_color: #555;

    font-family: $main_font;
    text-align: center;
    overflow-y: scroll;
    color: $text_color;
    letter-spacing: 1px;
    background: #000000;
	background: -moz-radial-gradient(center, ellipse cover, #000000 0%, #01020c 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#000000), color-stop(100%,#01020c));
	background: -webkit-radial-gradient(center, ellipse cover, #000000 0%,#01020c 100%);
	background: -o-radial-gradient(center, ellipse cover, #000000 0%,#01020c 100%);
	background: -ms-radial-gradient(center, ellipse cover, #000000 0%,#01020c 100%);
	background: radial-gradient(ellipse at center, #000000 0%,#01020c 100%);
	    
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        z-index: 10;
    }

    #links_container {
        float: right;
    }

    #links_container a {
        font-size: 11px;
        line-height: 20px;
        text-decoration: none;
        color: $header_links_color;
        margin-left: 15px;
    }

    #links_container a:visited {
        color: $header_links_color;
    }

    #links_container a:hover {
        color: $text_color;
    }

    .btn {
        border: none;
        display: inline-block;
        vertical-align: top;
        font-family: Arial, sans-serif;
        text-decoration: none;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: #565B6E;
        color: #FFF;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgba(0,0,0,0.5);
        border-bottom: 1px solid #292c35;
        border-radius: 3px;

        &:active {
            background-color: #292c35;
            border-top: 1px solid #565B6E;
            border-bottom: none;
            box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;              
        }
    }

    canvas {
    	position: absolute;
    	top: 0;
    	left: 0;
    	cursor: pointer;
    }

    .clear {
        clear: both;
    }
}