body.countdown_clock_index {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    text-align: center;
    background-color: #111;
    letter-spacing: 4px;
    
    header {
        padding: 10px 20px;
        margin-bottom: 50px;
        color: #000;
        text-shadow: 0 0 1px rgba(0,0,0,0.2);
    }

    #logo a {
        float: left;
        line-height: 20px;
        font-size: 14px;
        text-decoration: none;
        color: #aaa;
    }

    #links_container {
        float: right;
    }

    #links_container a {
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: #aaa;
        margin-left: 15px;
    }

    #links_container a:visited {
        color: #aaa;
    }

    #links_container a:hover {
        color: #f00;
    }

    .clear {
        clear: both;
    }

	.modal {
		position: absolute;
		top: 150px;
		left: 50%;
		width: 600px;
		margin-left: -330px;
		padding: 30px;
		color: #2ecc71;
		background-color: rgba(0,0,0,0.5);

		h1 {
			font-size: 22px;
			line-height: 30px;
			margin-bottom: 20px;
		}

		.btn {
			border-radius: none;
			border: 1px solid #9b59b6;
			color: #fff;
			background-color: #8e44ad;
		}
	}

	#container {
		display: none;
		color: #9db5f4;
	}

	#event_name {
		font-size: 80px;
		color: #cbd8f9;
		text-shadow: 0 0 4px rgba(0,0,0,0.2);
	}

	#clock {
		margin: 100px 0 60px;
	}

	.time_unit {
		display: inline-block;
		vertical-align: top;
		margin: 0 0px;
	}

	.colon {
		display: inline-block;
		font-size: 130px;
		text-shadow: 0 0 4px rgba(255,255,255,0.3);
		margin: 0 -10px;
	}

	.digit {
		position: relative;
		display: inline-block;
		margin: 0 10px;
		height: 134px;
		width: 70px;
	}

	.hor {
		position: absolute;
		width: 38px;
		height: 14px;
		left: 16px;
		background-color: #9db5f4;
		box-shadow: 0 0 8px rgba(255,255,255,0.7);
	}

	.hor.top {
		top: 3px;
	}

	.hor.mid {
		top: 60px;
	}

	.hor.bottom {
		bottom: 3px;
	}

	.ver {
		position: absolute;
		height: 42px;
		width: 14px;
		background-color: #9db5f4;
		box-shadow: 0 0 8px rgba(255,255,255,0.8);
	}

	.left {
		left: 0;
	}
	.right {
		right: 0;
	}

	.ver.top {
		top: 18px;
	}

	.ver.bottom {
		bottom: 18px;
	}

	.tri_left {
		position: absolute;
		left: -7px;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-right: 7px solid #9db5f4;
		border-bottom: 7px solid transparent;
	}

	.tri_right {
		position: absolute;
		right: -7px;
		width: 0;
		height: 0;
		border-top: 7px solid transparent;
		border-left: 7px solid #9db5f4;
		border-bottom: 7px solid transparent;
	}

	.tri_bottom {
		position: absolute;
		bottom: -7px;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid #9db5f4;
	}

	.tri_top {
		position: absolute;
		top: -7px;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #9db5f4;
	}
}