body.quick_words_game_index {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    
    header {
        padding: 5px 20px 0;
        margin-bottom: 0px;
    }

    #logo a {
        float: left;
        line-height: 20px;
        font-size: 14px;
        text-decoration: none;
        color: #333;
    }

    #links_container {
        float: right;
    }

    #links_container a {
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: #333;
        margin-left: 15px;
    }

    #links_container a:visited {
        color: #333;
    }

    #links_container a:hover {
        color: #f00;
    }

    .clear {
        clear: both;
    }

    .modal {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        font-size: 22px;

    }

    canvas {
        margin-top: 60px;
    }
}