body.share_a_secret_secrets_index {
    font-family: 'Open Sans', arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
    letter-spacing: 2px;

 	#content_container {
    	text-align: left;
    	padding-bottom: 20px;

    	#new_container {
    		padding-top: 30px;
    	}

    	.secret_area {
    		vertical-align: top;
    		width: 550px;
    		margin: auto;

    		h1 {
    			padding: 5px;
    			font-family: "Lucida Bright", Georgia, serif;
    			font-size: 20px;
    		}

    		.secret_box {
    			padding: 20px 30px;
    			border-top: 1px solid #1db567;

    			.secret_field {
    				text-align: center;
    				padding: 15px;

    				input {
						display: block;
						padding: 0 10px;
						margin: 10px auto 0;
    					border: none;
						border-radius: 5px;
						font-family: Futura, "Trebuchet MS", Arial, sans-serif;
						font-size: 13px;
						line-height: 24px;
						letter-spacing: 1px;
						background-color: #1db567;
						color: #222;
						cursor: pointer;

						&:active {
							background-color: #16894e;
						}
    				}

    				textarea, #retrieved_secret {
    					min-height: 100px;
    					width: 100%;
    					padding: 10px;
    					background-color: white;
    					border: none;
    					box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
    					border-radius: 5px;
    					resize: none;
    					text-align: center;
    					font-family: 'Open Sans', arial, sans-serif;
    					font-size: 16px;
    					color: #444;
    					text-shadow: none;
    					line-height: 23px;
    					white-space: -pre-wrap; 
						white-space: -o-pre-wrap; 
						word-wrap: break-word;
    				}
    			}
    		}  		
    	}
    }

    #info {
		width: 550px;
		margin: 30px auto 0;
		text-align: center;
		font-size: 13px;
		color: #777;
		line-height: 18px;
	}
    
    footer {
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	right: 0;
        padding: 10px 20px;
        height: 20px;
    }

    #links_container {
        float: right;
    }

    #links_container a {
        font-size: 11px;
        line-height: 20px;
        text-decoration: none;
        color: #777;
        margin-left: 15px;
    }

    #links_container a:visited {
        color: #777;
    }

    #links_container a:hover {
        color: #1db567;
    }

    .clear {
        clear: both;
    }
}