body.sparklers_sparklers_index {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;
    background-color: black;
    
    header {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 20px;
        text-shadow: 0 0 1px rgba(0,0,0,0.2);
    }

    #links_container {
        float: right;
    }

    #links_container a {
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: #333;
        margin-left: 15px;
    }

   a:visited {
        color: #333;
    }

    a:hover {
        color: #f00;
    }

    .clear {
        clear: both;
    }

    canvas {
        display: block;
    	cursor: none;
    }
}