body.taste_entries_index {
	$blue: #1D818F;
	$light_blue: #CBDCDF;
	$orange: #FF8D60;
    $text_color: #6b6b6b;
    $display_font: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    $main_font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    $header_links_color: #fff;

    font-family: $main_font;
    text-align: center;
    overflow-y: scroll;
    color: $text_color;
    letter-spacing: 1px;
    background-color: $light_blue;
    
    header {
        padding: 10px 20px;
        background-color: $blue;

        a {
            text-decoration: none;
            color: $header_links_color;         
        }
        
        #logo a {
            float: left;
            line-height: 30px;
            font-size: 22px;
            font-family: $display_font; 
        }

        #links_container {
            float: right;
        }

        #links_container a {
            font-size: 11px;
            line-height: 30px;
            margin-left: 15px;
        }

        #links_container a:visited {
            color: $header_links_color;
        }

        #links_container a:hover {
            color: $text_color;
        }
    }

    #empty_header {
    	margin-bottom: 20px;
    	padding-bottom: 14px;
    	background-color: $blue;

    	h1 {
    		font-family: $display_font;
    		font-size: 40px;
    		color: white;
    		line-height: 50px;
    	}

    	h2 {
    		font-size: 16px;
    		line-height: 30px;
    	}
    }

    #not_signed_in {

    	a {
    		color: $blue;
    	}
    }


    #entries_index_container {
    	position: relative;
    	padding: 0 20px;
    	margin-top: 20px;
    }

    #entry_form {
    	position: absolute;
    	top: 10px;
    	left: 30px;
    	width: 300px;
    	height: 300px;
	    background-color: white;


    	h3 {
    		padding: 0 10px;
			line-height: 30px;
    		margin-bottom: 10px;
    		font-family: $display_font;
    		font-size: 16px;
    		color: white;
    		background-color: $orange;
    	}

    	table {
    		padding: 0 10px;
	    	
	    	td {
	    		text-align: right;
	    		padding: 5px;

	    		label {
	    			font-size: 13px;
	    		}

	    		&.inputs {
	    			text-align: left;
	    		}

	    		input {
					width: 170px;
					font-size: 13px;
	    		}
	    	}

	    	#comments_wrapper {

	    		td {
	    			vertical-align: top;
	    		}

	    		textarea {
	    			height: 90px;
					width: 170px;
					font-size: 13px;
	    		}

	    	}
    	}

    }

    #entries_container {
    	float: left;
	    text-align: left;

	    ul {
	    	li {
	    		position: relative;
	    		display: inline-block;
	    		vertical-align: top;
	    		width: 300px;
	    		height: 300px;
	    		margin: 10px;
	    		background-color: white;
	    		overflow-y: auto;

	    		&:hover {
	    			.delete {
	    				display: block;
	    			}
	    		}

	    		.attr {
	    			padding: 0 10px;
	    			text-align: left;
	    			line-height: 30px;

					white-space: -pre-wrap; 
					white-space: -o-pre-wrap; 
					word-wrap: break-word;
	    		}

	    		.name {
	    			margin-bottom: 5px;
	    			font-family: $display_font;
	    			font-size: 18px;
	    			text-transform: uppercase;
	    			background-color: $orange;
	    			color: white;

	    		}

	    		.rating, .kind {
	    			color: $blue;
	    		}

	    		.rating {
	    			border-bottom: 1px solid $light_blue;
	    			padding-bottom: 5px;
	    			margin-bottom: 5px;
	    		}

	    		.label {
					color: $orange;    			
	    		}

	    		.comments {
	    			overflow-y: auto;
	    			font-size: 13px;
					line-height: 20px;
	    		}

	    		.delete {
	    			display: none;
					position: absolute;
					top: 0;
					right: 5px;
					padding: 5px;
					background-color: $orange;
					line-height: 20px;
					color: white;
					cursor: pointer
				}

	    	}
	    }
		ul > li:first-child {
			margin-left: 330px;
		}
    }

    .notice {
    	display: none;
    	margin: -100px;
    }

    .btn {
        border: none;
        display: inline-block;
        vertical-align: top;
        font-family: Arial, sans-serif;
        text-decoration: none;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: $blue;
        color: #FFF;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
        border-bottom: 1px solid #144F57;
        border-radius: 3px;

        &:active {
            background-color: #144F57;
            border-top: 1px solid $blue;
            border-bottom: none;          
        }
    }

    .clear {
        clear: both;
    }
}