body.what_day_page_index {
    $text_color: #282d33;
    $display_font: Futura, "Trebuchet MS", Arial, sans-serif;
    $main_font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    $header_links_color: text_color;

    font-family: $main_font;
    text-align: center;
    overflow-y: scroll;
    color: $text_color;
    letter-spacing: 1px;
    background-color: #D0D0D3;
    
    header {
        padding: 10px 20px;
        margin-bottom: 30px;
        background-color: #fff;

        a {
            text-decoration: none;
            color: $header_links_color;         
        }
        
        #logo a {
            float: left;
            line-height: 20px;
            font-size: 14px;
        }

        #links_container {
            float: right;
        }

        #links_container a {
            font-size: 11px;
            line-height: 20px;
            margin-left: 15px;
        }

        #links_container a:visited {
            color: $header_links_color;
        }

        #links_container a:hover {
            color: $text_color;
        }
    }

    form {

		label {
			text-align: left;
			vertical-align: bottom;
		}

		input {
			width: 80px;
			margin-right: 16px;
			text-align: left;
			border: none;
			border-bottom: 1px solid rgba(0,0,0,0.5);
			font-size: 18px;
			font-family: $main_font;
			color: $text_color;
			vertical-align: bottom;
			text-align: center;
			background-color: transparent;
		}
	}

	#result {
	    #day_container {
	    	padding: 30px;
	    	margin: 40px 0;
	    	font-family: $display_font; 
	    	font-size: 30px;
	    	color: #26262c;
	    	text-shadow: 0px 1px 2px rgba(255,255,255,0.2);
	    	background-color: #9595a2;
	    	box-shadow: 0 0 2px rgba(0,0,0,0.2) inset;
	    }
	    
		h1 {
			font-size: 18px;
			font-family: $display_font;
	    	text-shadow: 0px 1px 2px rgba(255,255,255,0.2);
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}

		ul {
			padding: 10px 50px;
			list-style-type: disc;
			
			li {
				padding: 10px 0;
				text-align: left;
				font-size: 14px;
				line-height: 20px
			}

			a {
				text-decoration: none;
				color: #3e4650;
			}
		}
	}



    .btn {
        border: none;
        display: inline-block;
        vertical-align: bottom;
        font-family: Arial, sans-serif;
        text-decoration: none;
        letter-spacing: 1px;
        cursor: pointer;
        background-color: #26262c;
        color: #FFF;
        font-size: 13px;
        padding: 0 10px;
        line-height: 30px;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
        box-shadow: 0 1px 1px rgba(0,0,0,0.5);
        border-bottom: 1px solid #0e0e11;
        border-radius: 3px;

        &:active {
            background-color: #0e0e11;
            border-top: 1px solid #26262c;
            border-bottom: none;
            box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;              
        }
    }

    .clear {
        clear: both;
    }
}