body.word_cloud_words_index {
	$text_color: #282d33;
	$main_font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	$header_links_color: #ccc;

    font-family: $main_font;
    text-align: center;
    overflow-y: scroll;
    color: $text_color;
    letter-spacing: 1px;
    
    header {
        padding: 10px 20px;
        margin-bottom: 30px;
    }

    #links_container {
        float: right;
    }

    #links_container a {
        font-size: 11px;
        line-height: 20px;
        text-decoration: none;
        color: $header_links_color;
        margin-left: 15px;
    }

    #links_container a:visited {
        color: $header_links_color;
    }

    #links_container a:hover {
        color: $text_color;
    }

    .clear {
        clear: both;
    }

    #cloud_container {
    	width: 800px;
    	margin: auto;
    	padding-bottom: 130px;
    }

    .cloud_word {
    	display: inline-block;
    	vertical-align: middle;
    	margin: 3px;
    	max-width: 800px;
    	white-space: -pre-wrap; 
		white-space: -o-pre-wrap; 
		word-wrap: break-word;
    }

    #form_container {
    	position: fixed;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	padding-bottom: 20px;
    	background-color: rgba(255,255,255,0.95);

	    .input_warning {
	 		font-size: 11px;
	 		color: red;
	 		line-height: 15px;
	    }

	    #text_field {
	    	width: 500px;
	    	padding: 5px;
	    	font-family: $main_font;
	    	font-size: 14px;
	    	letter-spacing: 1px;
	    	color: $text_color;
	    }

	    .btn {
	    	border: none;
			display: inline-block;
			vertical-align: top;
			font-family: Arial, sans-serif;
			text-decoration: none;
			letter-spacing: 1px;
			cursor: pointer;
			background-color: #565B6E;
			color: #FFF;
			font-size: 13px;
			padding: 0 10px;
			line-height: 30px;
			text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
			box-shadow: 0 1px 1px rgba(0,0,0,0.5);
			border-bottom: 1px solid #292c35;
			border-radius: 3px;

			&:active {
				background-color: #292c35;
				border-top: 1px solid #565B6E;
				border-bottom: none;
				box-shadow: 0 0 1px rgba(0,0,0,0.5) inset;				
			}
	    }

	    #info_tab {
	    	position: fixed;
	    	bottom: 0;
	    	left: 0;
	    	padding: 20px;
	    	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	    	color: #565B6E;
	    	cursor: pointer;
	    }
    }

    .modal {
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	background-color: rgba(0,0,0,0.9);

    	.inner_modal {
    		position: relative;
    		width: 500px;
    		margin: auto;
    		margin-top: 150px;
    		padding: 30px;
    		background-color: rgba(255,255,255,0.95);
    		border-radius: 5px;
    		box-shadow: 0 0 4px rgba(0,0,0,0.4);

    		p {
    			line-height: 26px;
    			margin: 20px;
    		}

    		.close {
    			position: absolute;
    			top: 5px;
    			right: 5px;
    			padding: 3px;
    			font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	    		color: #565B6E;
    			cursor: pointer;
    		}
    	}
    }
}