<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta property="og:image" content="https://jenniferdewalt.com/images/fb_icon.png"/>
  <title>All Draw | Jennifer Dewalt</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/all_draw.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/socket.io.min.js" type="text/javascript"></script>
  <script src="/js/underscore.js" type="text/javascript"></script>
  <script src="/js/jscolor/jscolor.js" type="text/javascript"></script>
  <script src="/js/all_draw_index.js" type="text/javascript"></script>
  <script src="/js/analytics.js" type="text/javascript"></script>
  <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="all_draw">
  <header>
    <div id="logo"><a href="/node/all_draw">All Draw</a></div>
    <div id="links_container">
        <a href="/index.html" id="home">Home</a>
        <a href="http://blog.jenniferdewalt.com" id="blog">Blog</a>
    </div>
    <br class="clear">
  </header>

  <div id="main_wrapper">
    <div id="control_wrapper">
      <div id="control_container">
        <div class="opts" id="functions">
          <button class="small btn brush" disabled title="Paintbrush"><img class="brush"></button>
          <button class="small btn erase" title="Eraser"><img class="erase"></button>
          <button class="small btn eyedrop" title="Eyedropper"><img class="eyedrop"></button>
        </div>

        <div class="opts right">
          <label>COLOR: </label><input value="000000" class="color" autocomplete='off'>
        </div>
        <div class="opts right">
          <label>OPACITY: </label><input value="1" class="opacity" autocomplete='off'>
        </div>
        <div class="opts right">
          <label>SIZE: </label><input value="8" class="size" autocomplete='off'>
        </div>
      </div>
    </div>

    <canvas data-url="<%= all_draw_url %>"></canvas>

    <br class="clear">
  </div>

  <div id="info_container">
    <div id="info">
      <p>All Draw is a real time collaborative drawing app.</p>
      <p>Use the tools in the toolbox to add your artwork to the drawing.</p>
      <p>As you draw the canvas will be continually updated for everyone.</p>
    </div>
    <p id="tab" class="show">?</p>
  </div>

</body>
</html>
