<div id="content_container">
	<div id="new_container" class='secret_area'>
		<h1>Share a Secret</h1>
		<div class="secret_box">
			<div class="secret_field">
				<form>
					<textarea class='secret_input' maxlength=''></textarea>
					<input type='submit' value='Share' class="btn"> 
				</form>
			</div>
		</div>
	</div>

	<div id="retrieved_container" class='secret_area'>
		<h1>Get a Secret</h1>
		<div class="secret_box">
			<div class="secret_field">
				<div id="retrieved_secret">
					<p id="retrieved_secret_text"></p>
				</div>
			</div>
		</div>
	</div>

	<p id="info">Write in a secret between 10 and 255 characters long. <br>
	It's totally anonymous so make it interesting! <br>
	Hit 'Share' to submit your secret and get someone else's.</p>
</div>


<%= render 'share_a_secret/secrets/footer' %>
