<%= render 'gfboom/page/header' %>

<div id="container">
	<div id="browser">
		<h1 class="sample">GFBOOM!</h1>
		<h2>A GOOGLE FONTS BROWSER</h2>

		<form id="search">
			<div id="input_container">
				<input type="text" id="font_input" class="sample" placeholder="Open Sans">
			</div>
			<ul id="autocomplete"></ul>
		</form>
		<div id="api_tag">&lt;link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'&gt;</div>

	</div>


	<div id="sample_container">
		<h1 class="sample" contenteditable title="Click me to edit!">This Headline is Awesome!</h1>
		<h2 class="sample" contenteditable title="Click me to edit!">Enjoy This Kitten Ipsum</h2>
		<p class="sample" contenteditable title="Click me to edit!">
			Kitten Ipsum hairball home, ambush siamese stretching sleeping in the sink kitty headbutt adopted this tiny Grumpy Cat hilarious birthday bed jump model smokey size. Special, Lil Bub tux babies lady. Cats cake day tongue family photobomb my knock over the lamp adopted caturday happy bed tabby cat friendly kitties, Maru birdwatching best standing? Crosseyed cat feather other, size brought sleeping reddit he cat rescue go she's 9 lives. Fire attack your ankles local sits toilet prrrrr. Happy brought mom somebody tiny attack cat, she's derp feline toys disapproval if I fits I sits box mom's slept she stalking grown likes his stretching fuzzy. Attack kitteh kills long sleep in the sink snuggliest her helped old, odd family Smoosh cat fuzzy kitty brought aww loves purses cat cute cats making biscuits!
		</p>
	</div>
	
</div>