<%= render 'window/page/header' %>

<div id="container">
	<div id="window">
		<canvas></canvas>
	</div>
	<button class="btn">Change Scenery</button>
</div>

<div id="images" data-img="<%= @img_urls %>" hidden></div>