<%= render 'forest/page/header' %>

<canvas id="canvas">Oh dear! It looks like your browser doesn't support canvas.</canvas>

<div id="control_container">
	<div id="controls">
		<ul>
			<li class="label"><label>Brush:</label></li>
			<li><img src="/assets/tree_icon.png" id="tree_btn" class="control" title="Draw trees."></li>
			<li><img src="/assets/leaf_icon.png" id="leaf_btn" class="control" title="Draw leaves"></li>
			<li class="label"><label>Color:</label></li>
			<li><input class="color control" value="592718"></li>
			<li><button id="save" class="control" title="Download your picture as a png.">Download Image</button></li>
		</ul>
	</div>
</div>