<%= render 'emergency_off/button/header' %>

<div class="modal">
	<div class="inner_modal progress_bar">
		<div class="modal_content">
			<p>Going into Emergency Shut Down Mode.</p>
			<p>Please stand by.</p>

			<div class="bar_container">
		        <div class="inner_bar"></div>
		    </div>
		</div>
	</div>

	<div class="inner_modal shut_down">
		<div class="modal_content">
			<p>Shutting Down...</p>
		</div>
	</div>
</div>

<div id="content">
	<h1>In Case of Emergency</h1>
	<h2>Press This Button</h2>

	<button>EMERGENCY</button>
</div>
